.home-page-slider {
    width: 100%;
    position: relative;
    // padding: 2rem 0;
    margin: 0 auto;
    padding-top: 2rem;

    .slick-slider {
        position: unset;
    }

    .home-slider {
        padding: 0 1rem;

        .slick-list {
            padding: 3rem 50px 5rem !important;
        }

        .slick-track {
            display: flex;
            align-items: flex-start;
        }

        .slick-slider {
            margin-bottom: 0;
        }

        .slick-slide {
            width: 320px;

            @include xy-gutters($gutters: 1rem, $gutter-type: padding);

            @include breakpoint(medium) {
                width: 380px;

                @include xy-gutters($gutter-type: padding);
            }
        }

        .slick-current {
            .home-slide {
                @include box-shadow(3);
            }
        }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 70px;
            width: 70px;
            border-radius: 3rem;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 40px;
            background-color: $primary-color;
            z-index: 15;
            display: none !important;

            @include breakpoint(large) {
                display: flex !important;
            }
        }

        .arrow-left {
            left: -100px;
            margin-left: 0.5rem;
        }

        .arrow-right {
            right: -100px;
            margin-right: 0.5rem;
        }
    }

    .slick-dots {
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include transition-all();

        li {
            border-radius: 50%;
            height: 13px;
            width: 13px;
            border: 2px solid $primary-color;
            opacity: 0.25;
            //display: inline-block;

            button {
                &::before {
                    color: transparent;
                }
            }
        }

        .slick-active {
            background: $primary-color;
            opacity: 1;
            height: 13px;
            width: 13px;
        }
    }

    .navicon {
        background-color: $primary-color;
        color: $white;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        @include transition-all();
    }

    .slickRight {
        &:hover {
            padding-left: 0.5rem;
        }
    }

    .slickLeft {
        &:hover {
            padding-right: 0.5rem;
        }
    }

    .navicon i {
        background: none;
        text-decoration: none;
        font-size: 36px;
    }
}
