
.bottom-alert {
    background-color: $accent-medium;
    position: fixed;
    left: auto;
    right: 0;
    bottom: 0;
    z-index: 30;
    font-size: 20px;
    border-radius: 9px;
    width: 45rem;
    float: right;
    padding: 0.8rem;
    border: 1px solid $accent-dark;
    color: $accent-dark;

    @include breakpoint(small) {
        width: 100%;
        right: 0;
        top: unset;
        border-radius: 0;

        .bottom-alert__inner {
            .content {
                p {
                    line-height: 1.375rem;
                }
            }
        }
    }

    @include breakpoint(medium) {
        width: 50%;
        font-size: 15px;
        border-radius: 9px;
        margin-bottom: 1rem;
        margin-right: 1rem;
        // top: 50%;

        .bottom-alert__inner {
            .content {
                p {
                    line-height: 1.625rem;
                }
            }
        }
    }

    @include breakpoint(large) {
        width: 45rem;
        // max-height: 200px;
        font-size: 15px;
        border-radius: 9px;
        // top: 50%;

        .bottom-alert__inner {
            .content {
                p {
                    line-height: 1.625rem;
                }
            }
        }
    }

    @include breakpoint(large) {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .bottom-alert-div {
        position: relative;
    }

    p {
        color: $accent-dark;
        font-size: 20px;

        a {
            color: $accent-dark;
        }
    }

    @include breakpoint(small) {
        font-size: 10px;
        line-height: 1;
    }

    .bottom-alert__info {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        line-height: 1.55;

        img {
            @include breakpoint(small only) {
                width: 15px;
                height: 15px;
            }
        }
    }

    .botttom-alert__exit {
        color: $accent-dark;
        margin-top: 20px;

        @include breakpoint(small) {
            margin-top: 20px;
        }

        @include breakpoint(medium) {
            margin-top: 20px;
        }
    }

    p {
        margin-bottom: 0;
    }

    .bottom-alert__info {
        margin-left: auto;
        border: 1px solid $accent-dark;
        width: 43.67px;
        height: 43.67px;
        border-radius: 9px;
        cursor: pointer;

        @include breakpoint(small only) {
            width: 30px;
            height: 30px;
        }
    }

    .bottom-alert__info.active {
        .bottom-alert {
            display: none;
        }
    }

    .cookie-header_text {
        h3 {
            line-height: 2.5rem;
        }
    }

    .bottom-alert__inner {
        .content {
            p {
                color: $accent-dark;

                @include breakpoint(small only) {
                    font-size: 15px;
                }
            }
        }
    }

    .bottom-alert__buttons {
        display: flex;
        column-gap: 20px;
    }

    .cookie-header {
        display: flex;
        margin-bottom: 10px;

        @include breakpoint(small only) {
            margin-bottom: unset;
        }
    }
}

.bottom-alert.true {
    display: none;
}
