.archive__card-container {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.date-image-card {
    margin-bottom: 1rem;
    border: 1px solid #e2e2e2;
    border-radius: 7px;
    transition: 0.2s;

    &:hover {
        transform: scale(1.1);
    }

    .date-image-card__inner {
        .date-image-card__image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            border-radius: 7px 7px 0 0;
            height: 200px;
            background-color: $primary-color;
        }

        .date-image-card__content {
            padding: 1rem;
            color: $black;
        }
    }

    .date-image-card__date-tax {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;

        .date-image-card__date {
            display: flex;

            .date-image-card__icon {
                margin-right: 0.5rem;
            }
        }
    }

    .date-image-card__tags {
        display: flex;
        flex-wrap: wrap;

        .date-image-card__tags-container {
            display: inline-block;

            .date-image-card__listing {
                background-color: #f3f3f4;
                border-radius: 29px;
                margin-right: 0.5rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                margin-bottom: 0.625rem;
                display: flex;

                .listing {
                    margin-bottom: 0;
                    font-size: 15px;
                }
            }
        }
    }

    .date-image-card__title {
        margin-bottom: 1rem;
    }
}
