.expandables-component {
    background-color: white;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.expandable-block__link.active {
    .expandable__button-active {
        display: none;
    }

    .expandable__button-inactive {
        display: inline;
    }
}

.expandable {
    border-radius: 9px;
    border: 1px solid $accent-light;
    padding: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $accent-dark;

    .expandable__button-inactive {
        display: none;
        margin-left: auto;

        @include breakpoint(small) {
            width: 1.1875rem;
            height: 1.1875rem;
        }

        @include breakpoint(medium) {
            width: 2.25rem;
            height: 2.25rem;
        }

        @include breakpoint(large) {
            width: 2.25rem;
            height: 2.25rem;
        }
    }

    .expandable__button-active {
        margin-left: auto;

        @include breakpoint(small) {
            width: 1.1875rem;
            height: 1.1875rem;
        }

        @include breakpoint(medium) {
            width: 2.25rem;
            height: 2.25rem;
        }

        @include breakpoint(large) {
            width: 2.25rem;
            height: 2.25rem;
        }
    }

    .expandable__heading {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        color: $accent-dark;

        h2 {
            margin-left: 2%;
        }
    }

    .expandable__title {
        display: flex;
        align-items: center;

        .expandable__button {
            margin-right: 0.5rem;
            color: $accent-dark;
            cursor: pointer;

            @include breakpoint(small) {
                margin-right: unset;
            }
        }
    }

    .expandable__content {
        display: none;
        margin-top: 1.25rem;

        &.active {
            display: block;
        }
    }
}

.expandable_blocks-title {
    align-items: center;
    text-align: center;
}
