/** Search form */
.search-form {
    @extend .input-group;

    max-width: 24em;

    .search-form__label {
        @extend .input-group-label;

        font-weight: normal;
    }

    .search-form__field {
        @extend .input-group-field;
    }

    .search-form__submit {
        @extend .secondary;
    }
}

/**
    The Gravity Form code below adds accessibility elements to forms such as error state image in entry field and icons
*/

.gfield-choice-input {
    filter: hue-rotate(145deg);
    width: 16px;
    height: 16px;
}

.gform_wrapper.gravity-theme .gfield-choice-input {
    vertical-align: -10% !important;
}

.gform_wrapper .gfield_error label {
    background-image: url('../images/error.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 16px;
    padding: 1rem 2rem 1rem 0;
    color: #404040;
}

.gform_wrapper.gravity-theme input[type=color],
.gform_wrapper.gravity-theme input[type=date],
.gform_wrapper.gravity-theme input[type=datetime-local],
.gform_wrapper.gravity-theme input[type=datetime],
.gform_wrapper.gravity-theme input[type=email],
.gform_wrapper.gravity-theme input[type=month],
.gform_wrapper.gravity-theme input[type=number],
.gform_wrapper.gravity-theme input[type=password],
.gform_wrapper.gravity-theme input[type=search],
.gform_wrapper.gravity-theme input[type=tel],
.gform_wrapper.gravity-theme input[type=text],
.gform_wrapper.gravity-theme input[type=time],
.gform_wrapper.gravity-theme input[type=url],
.gform_wrapper.gravity-theme input[type=week],
.gform_wrapper.gravity-theme select,
.gform_wrapper.gravity-theme textarea {
    border-radius: 7px;
    height: 3.875rem;
    border: 1px solid $accent-dark;
    box-shadow: none;
    color: #404040;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.gform_wrapper.gravity-theme input[type=color]:focus,
.gform_wrapper.gravity-theme input[type=date]:focus,
.gform_wrapper.gravity-theme input[type=datetime-local]:focus,
.gform_wrapper.gravity-theme input[type=datetime]:focus,
.gform_wrapper.gravity-theme input[type=email]:focus,
.gform_wrapper.gravity-theme input[type=month]:focus,
.gform_wrapper.gravity-theme input[type=number]:focus,
.gform_wrapper.gravity-theme input[type=password]:focus,
.gform_wrapper.gravity-theme input[type=search]:focus,
.gform_wrapper.gravity-theme input[type=tel]:focus,
.gform_wrapper.gravity-theme input[type=text]:focus,
.gform_wrapper.gravity-theme input[type=time]:focus,
.gform_wrapper.gravity-theme input[type=url]:focus,
.gform_wrapper.gravity-theme input[type=week]:focus,
.gform_wrapper.gravity-theme select:focus,
.gform_wrapper.gravity-theme textarea:focus {
    box-shadow: 0 0 0 5px $accent-dark;
}

input::placeholder {
    color: #404040;
}

textarea::placeholder {
    color: #404040;
}

.gfield_select {
    color: #404040;
}

input:focus {
    box-shadow: 0 0 10px $gray;
}

.contact_page-contents.grid-container {
    width: 60%;
}

@media screen and (min-width: 250px) and (max-width: 450px) {
    .gform_wrapper.gravity-theme input[type=color],
    .gform_wrapper.gravity-theme input[type=date],
    .gform_wrapper.gravity-theme input[type=datetime-local],
    .gform_wrapper.gravity-theme input[type=datetime],
    .gform_wrapper.gravity-theme input[type=email],
    .gform_wrapper.gravity-theme input[type=month],
    .gform_wrapper.gravity-theme input[type=number],
    .gform_wrapper.gravity-theme input[type=password],
    .gform_wrapper.gravity-theme input[type=search],
    .gform_wrapper.gravity-theme input[type=tel],
    .gform_wrapper.gravity-theme input[type=text],
    .gform_wrapper.gravity-theme input[type=time],
    .gform_wrapper.gravity-theme input[type=url],
    .gform_wrapper.gravity-theme input[type=week],
    .gform_wrapper.gravity-theme select,
    .gform_wrapper.gravity-theme textarea {
        font-size: 0.9375rem;
        line-height: 1.5625rem;
    }

    .gform_wrapper.gravity-theme input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
        line-height: 1.5625rem;
    }

    .contact_page-contents.grid-container {
        width: 100%;
    }
}

.gform_wrapper.gravity-theme .gfield-choice-input {
    vertical-align: 0%;
}

.gform_footer.top_label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gform_wrapper .gform_footer.top_label .button,
.gform_wrapper .gform_footer.top_label .comment-form input[type="submit"],
.comment-form .gform_wrapper .gform_footer.top_label input[type="submit"] {
    background-color: $accent-dark;
    box-shadow: 0 0 0 5px rgba(230, 28, 35, 0.18);
    padding: 0.6em 1.5em !important;

    &:hover,
    &:focus {
        background-color: $accent-light;
        color: $accent-dark;
    }
}

.gform_confirmation_message {
    background-color: #deefe2;
    padding: 20px;
    border-radius: 7px;
}

.gfield_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url('../images/expand_more.svg');
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.033' height='10.145' viewBox='0 0 17.033 10.145'%3E%3Cpath id='expand_more' d='M18.652 23.892a1.387 1.387 0 0 1-.594-.126 2.307 2.307 0 0 1-.521-.342l-6.977-6.977a1.451 1.451 0 0 1-.413-1.115 1.571 1.571 0 0 1 .45-1.114 1.438 1.438 0 0 1 1.132-.468 1.645 1.645 0 0 1 1.1.5l5.826 5.791 5.826-5.826a1.682 1.682 0 0 1 1.132-.45 1.331 1.331 0 0 1 1.1.485 1.282 1.282 0 0 1 .468 1.1 1.76 1.76 0 0 1-.468 1.133l-6.941 6.941a2.163 2.163 0 0 1-.539.342A1.427 1.427 0 0 1 18.652 23.892Z' transform='translate(-10.145 -13.747)' fill='%23404040'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 26px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

.validation_message.gfield_validation_message {
    display: none;
}

.gform_wrapper {
    .gfield_error {
        input[aria-invalid=true] {
            border: 1px solid $accent-dark;
            box-shadow: 0 0 0 5px rgba(230, 28, 35, 0.18);
        }
    }

    .gform_validation_errors {
        border: none;
        box-shadow: none;
        background-color: #fce8e8;

        h2 {
            color: $accent-dark;
            font-weight: normal;
        }
    }
}

.gform_wrapper .gfield_error [aria-invalid=true] {
    border: 1px solid $accent-dark;
    box-shadow: 0 0 0 5px rgba(230, 28, 35, 0.18);
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url('../images/error.svg');
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 16px;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

@media screen and (min-width: 250px) and (max-width: 450px) {
    .contact-us__content-container {
        p {
            font-size: 1.25rem;
            line-height: 1.6875rem;
        }
    }
}
