.menu-bars {
    $menu-bar-margin-small: 6px;
    $menu-bar-height-small: 4px;
    $menu-bar-margin: 7px;
    $menu-bar-height: 4px;

    width: $menu-bar-height-small * 8;
    float: right;

    @include breakpoint(large) {
        width: $menu-bar-height * 8;
    }

    .icon-bar {
        @include transition-all;

        background-color: $black;
        display: block;
        width: 100%;
        height: $menu-bar-height-small;
        border-radius: 2px;

        @include breakpoint(large) {
            height: $menu-bar-height;
        }

        & + .icon-bar {
            margin-top: $menu-bar-margin-small;

            @include breakpoint(large) {
                margin-top: $menu-bar-margin;
            }
        }
    }

    &:hover {
        .icon-bar {
            background-color: darken($primary-color, 10%);
        }
    }

    &.menu-bars--close {
        $menu-bar-translate-small: $menu-bar-margin-small - 1px + floor($menu-bar-height-small / 2);
        $menu-bar-translate: $menu-bar-margin - 1px + floor($menu-bar-height / 2);

        .icon-bar {
            background-color: $white !important;
        }

        .icon-bar--1 {
            transform-origin: center;
            transform: rotate(-45deg) translate(-#{$menu-bar-translate-small}, $menu-bar-translate-small);

            @include breakpoint(large) {
                transform: rotate(-45deg) translate(-#{$menu-bar-translate}, $menu-bar-translate);
            }
        }

        .icon-bar--2 {
            transform-origin: center;
            transform: rotate(45deg);
        }

        .icon-bar--3 {
            transform: translateY(100%);
            opacity: 0;
        }
    }
}
