/*
    Slider for small screens: basically this slider will give you the abillity
    to scroll up and down, left and right on small screens.
    Note: *you can adjust the screen size however you want*.
    How to use it:
    section-slider class: this section is basically the scroll bar that gives
    the abillity to scroll up and down, left and right.
    Note:*you can make it a up and down slider by adjusting
    the hight and the width of the section-content class, and make the overflow-y: auto*.
*/
@media screen and (min-width: 250px) and (max-width: 450px) {
    //The scroll bar handle
    .section-slider {
        overflow-x: auto;
        overflow-y: hidden;

        //The contents inside... Note: *put the conent inside of this class*
        .section-content {
            width: 900px;
            height: unset;

            //Set the width of the cell
            .section-cell {
                width: 200px;
            }
        }
    }
}
