$header-height: 5.688rem;

.site-nav {
    @include transition-all(transform);

    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    // overflow: hidden;
    overflow-y: auto;
    z-index: 8;
    background: $white;
    border-bottom: 1px solid $medium-gray;
    // transform: translate(0, -100%);
    padding: 4rem 0;

    &.active {
        animation: card-open 500ms cubic-bezier(0.405, 0, 0.165, 1);
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 1;
    }

    &.not-active {
        height: 0;
        width: 0;
        animation: card-close 500ms cubic-bezier(0.405, 0, 0.165, 1);
    }

    // @include breakpoint(xlarge) {
    //     top: $header-height-large * 2;

    //     body.fixed-header & {
    //         top: ($header-height-large * 2);
    //     }

    //     body.fixed-header.scrolled & {
    //         top: $header-height-large;
    //     }
    // }
}

.site-nav--menu {
    display: flex;
    flex-direction: column;
    background-color: $black;
    align-items: center;
    padding-top: 7rem;

    .menu .active > a {
        background-color: transparent;
        color: unset;
    }

    a {
        color: unset;
    }

    .menu.horizontal.accordion-menu {
        padding-bottom: 3rem;
        // width: 100%;

        li {
            width: auto;
        }
    }

    .menu {
        flex-direction: column;
        // flex: 1;

        .has-submenu-toggle > a {
            margin-right: 0;
        }

        .menu-item {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            flex-direction: column;
            padding: 0.25rem #{rem-calc(map-get($grid-padding-gutters, 'small') / 2)};

            @include breakpoint(medium) {
                padding: 0.5rem #{rem-calc(map-get($grid-padding-gutters, 'medium') / 2)};
            }

            > a {
                font-size: 1.25rem;
                border: 0;
                margin-right: 1.5rem;
                // flex: 1 1 auto;
            }

            &.is-accordion-submenu-item {
                font-weight: bold;
            }

            .link-wrap {
                color: $white;
                font-weight: 800;
                font-size: 1.5rem;
            }
        }

        .submenu-toggle {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            align-items: flex-end;
            left: 0;
            bottom: 0;
            top: 6px;
            // padding-right: 1rem;

            &::after {
                border: none;
                content: 'expand_more';
                font-family: 'Material Icons';
                width: unset;
                height: unset;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 0.5rem;
                font-size: 2rem;
                font-weight: bold;
                margin: unset;
                color: $white;
            }
        }

        .submenu {
            margin-left: 0;
            padding-left: 1rem;
            // background: lighten($primary-color, 50%);
            // flex: 1 1 100%;

            .menu-item {
                margin: 0;
                // background: lighten($primary-color, 50%);
                padding: 0;

                > a {
                    font-size: 1rem;
                }
            }
        }
    }

    .site-menu__lang {
        float: right;
        margin-right: rem-calc(map-get($grid-padding-gutters, 'small') / 2);
        margin-top: 4rem;
        border: 0;
        text-transform: uppercase;
        color: $primary-color;
        font-weight: bold;
        font-size: 1.25rem;

        @include breakpoint(medium) {
            margin-right: rem-calc(map-get($grid-padding-gutters, 'medium') / 2);
        }
    }

    .header__cta {
        color: $white;
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }
}

.site-nav--search {
    @include xy-gutters($gutter-type: padding);

    .search-form {
        max-width: none;
        margin: 0;
    }
}

.site-nav__social {
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    .footer__icon {
        width: 43px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 7px;
    }
}

.menu.horizontal {
    .menu-item.active {
        a {
            background: transparent;
        }
    }
}

.menu-item {
    .vertical {
        .menu-item {
            .link-wrap {
                font-weight: 400;
            }
        }
    }
}

header {
    .header__menu {
        .menu {
            .menu-item {
                .link-wrap {
                    color: $white;
                }
            }
        }
    }
}

@keyframes card-open {
    0% {
        height: 0;
        width: 0;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        opacity: 0;
    }

    100% {
        height: 1300px;
        width: 1300px;
        top: -480px;
        right: -480px;
        border-radius: 50%;
        opacity: 1;
    }
}

@keyframes card-close {
    0% {
        height: 1300px;
        width: 1300px;
        top: -480px;
        right: -480px;
        border-radius: 50%;
        opacity: 1;
    }

    100% {
        height: 0;
        width: 0;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        opacity: 0;
    }
}

@media screen and (min-width: 250px) and (max-width: 450px) {
    .site-nav--menu .menu .submenu-toggle {
        top: 0;
    }
}
