.home-slide {
    background-color: $white;
    border-radius: 3rem;
    // padding: 2rem;
    width: 380px;
    height: 410px;

    @include box-shadow(2);

    @include breakpoint(xxlarge) {
        height: 450px;
    }

    .home-slide__container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .home-slide__inner {
        flex: 1;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .home-slide__image {
        flex: 2;
        border-radius: 2rem 2rem 0 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .home-slide__title-container {
        h4 {
            font-weight: bold;

            @include multi-line-ellipse(25px, 1.5, 2);
        }
    }

    .home-slide__date {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }

    .home-slide__content {
        @include multi-line-ellipse(16px, 1.5, 8);

        @include breakpoint(xxlarge) {
            @include multi-line-ellipse(16px, 1.5, 10);
        }
    }

    .home-slide__button-container {
        justify-content: center;
        align-items: flex-end;
        flex: 1;
        display: flex;

        .button {
            margin-bottom: 0;
        }
    }
}
