@import "common/variables";
@import "common/mixins";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
//import all material icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

//@include customImportMaterialIcons('Outlined');

/** Import everything from autoload */
@import "./autoload/**/*";

$material-icons-font-path: '~material-icons/iconfont/';

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";
$material-icons-font-path: '~material-icons/iconfont/';
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";

@import "~motion-ui/src/motion-ui";
@import "~material-icons/iconfont/material-icons";
@import '~material-icons/iconfont/material-icons.scss';

@include motion-ui-transitions;
@include motion-ui-animations;

@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/alert";
@import "components/grow-effect";
@import "components/wp-classes";
@import "components/menu-icon";
@import "components/site-nav";
@import "components/3-slide-slider";
@import "components/slide";
@import "components/mobile-slider";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/print";
@import "components/expandable";
@import "components/date-image-card";
// @import "pace/footer-with-menu";
// @import "pace/header-horizontal-menu-submenu";
// @import "pace/cards/career-card";
// @import "pace/cards/chevron-block";
// @import "pace/cards/contact-card";
// @import "pace/cards/content-video-card";
// @import "pace/cards/expandable-info-card";
// @import "pace/cards/featured-image-card-date";
