.information-expandable-tile {
    margin-bottom: 3rem;

    .information-expandable-tile__title {
        display: flex;
        align-items: center;
        padding-bottom: 1.5rem;

        .img {
            padding-right: 1rem;
            height: 35px;
        }

        .heading {
            margin-bottom: 0;
        }
    }

    .information-expandable-tile__expandables {
        @include pace-box-shadow();
    }

    .information-expandable-tile__expandable {
        height: 70px;
        overflow: hidden;
        transition: 0.2s;
        background-color: $light-gray;

        &:nth-child(2n) {
            background-color: $white;
        }

        .information-expandable-tile__expandable-title {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            align-items: center;
            height: 70px;

            .heading {
                margin-bottom: 0;

                @include multi-line-ellipse(16, 1.3, 2);
            }
        }

        .information-expandable-tile__link {
            display: flex;
            align-items: center;

            .material-icons {
                color: $black;
                font-size: 2rem;
                padding-left: 1rem;
            }
        }

        .information-expandable-tile__description {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

