.dropdown-image.blue {
    background-color: #0073ae;
}

.dropdown-image.green {
    background-color: #008852;
}

.dropdown-image.orange {
    background-color: #e36f1e;
}

.dropdown-image.yellow {
    background-color: #fdb813;

    .text {
        color: #333;
    }
}

.dropdown-image {
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .dropdown-image__image {
        height: 55px;
        width: 220px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 6px;
        margin-left: 0.3rem;
    }

    .text {
        color: $white;
        padding: 1rem 1.5rem;
        margin-bottom: 0;
        font-weight: bold;
    }
}
