.program-expandable {
    @include pace-box-shadow();

    padding: 1.5rem;
    margin-bottom: 2rem;
    height: 84px;
    overflow: hidden;
    transition: 0.4s;

    .program-expandable__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .program-expandable__icon {
        display: flex;
        align-items: center;

        .heading {
            margin-bottom: 0;
            margin-left: 1rem;
        }
    }

    .information-expandable-tile__link {
        display: flex;

        .material-icons {
            font-size: 2rem;
            color: $black;
        }
    }

    .image {
        margin-bottom: 1.5rem;
    }

    .desc {
        ul {
            margin-left: 1.85rem;
        }

        li {
            display: block;
            position: relative;

            &::before {
                font-family: 'Material Icons';
                content: 'check_circle';
                -webkit-font-feature-settings: 'liga';
                position: absolute;
                left: -29px;
                top: -5px;
                color: $primary-color;
                font-size: 1.4rem;
            }
        }
    }

    .program-expandable__number {
        .number-container {
            display: flex;
            min-height: 57px;
        }

        .sub-text {
            display: flex;
            align-items: center;

            .material-icons {
                margin-right: 0.5rem;
                font-size: 1.4rem;
                color: $primary-color;
            }
        }
    }
}
