.simple-dropdown__title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.block-expandable {
    background-color: #ededed;
    border-radius: 6px;
    color: #333;
    margin-bottom: 1rem;

    .block-expandable__title {
        display: flex;
        padding: 1rem 1.5rem;

        h3 {
            margin-bottom: 0;
            color: #333;
        }

        .block-expandable__link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .material-icons {
            color: #333;
        }

        .material-icons.active {
            transform: rotate(90deg);
            transition: 0.2s;
        }
    }

    .block-expandable__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .block-expandable__menu-item {
        a {
            color: #333;
            text-decoration: underline;
        }
    }

    .leaderboard {
        width: 20px;
        height: 20px;
    }

    .hidden {
        display: none;
    }

    .block-expandable__excerpt {
        padding: 1rem 1.5rem;
    }
}
