.footer-with-menu {
    padding-top: 2rem;

    .footer-with-menu__inner {
        padding-bottom: 2rem;
    }

    .footer-with-menu__info {
        display: flex;
        align-content: center;

        .footer-with-menu__logo {
            display: flex;
            flex-direction: column;
        }

        .footer-with-menu__content-container {
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            font-weight: bold;
            justify-content: center;

            .email {
                color: $black;
                text-decoration: underline;
            }

            .email,
            .phone {
                line-height: 1.3;
            }
        }
    }

    .footer-with-menu__linkedin {
        .icon {
            margin-top: 1rem;
            margin-left: 4rem;
        }
    }

    .footer-with-menu__menu {
        .menu.vertical {
            @include xy-grid();

            justify-content: space-between;

            li.menu-item {
                @include xy-cell(4);

                // height: 40px;

                a {
                    background-color: transparent;
                    color: $black;
                    z-index: 1;
                    display: inline-block;
                    vertical-align: top;
                    // width: 100px;
                    // height: 34px;
                    // line-height: 36px;
                    font-family: 'Open Sans', sans-serif;
                    text-decoration: none;
                    text-align: center;
                    font-size: 15px;
                    position: relative;
                    border: 2px bottom solid transparent;

                    &::after {
                        width: 0%;
                        height: 3px;
                        display: block;
                        background-color: #006bb5;
                        content: " ";
                        position: absolute;
                        top: 34px;
                        left: 50%;
                        transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                            height: 3px;
                            display: block;
                            background-color: #006bb5;
                            content: " ";
                            position: absolute;
                            top: 34px;
                            left: 0;
                        }
                    }

                    .link-wrap {
                        font-weight: bold;
                    }
                }
            }

            // li.menu-item.menu-item-has-children {
            //     height: 100%;
            // }

            .menu.horizontal.nested {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 0;

                .menu-item {
                    width: 100%;

                    a {
                        padding: 0.7rem 0;
                        font-size: 14px;
                        display: flex;

                        .link-wrap {
                            font-weight: normal;
                        }

                        &::after {
                            display: none;
                        }

                        &::before {
                            font-family: 'Material Icons';
                            content: "chevron_right";
                            -webkit-font-feature-settings: 'liga';
                        }
                    }
                }
            }
        }
    }

    .footer-with-menu__copy-right {
        padding: 1rem 0;
        font-size: 14px;
        border-top: 1px solid $light-gray;

        .grid-container {
            display: flex;
            justify-content: space-between;
        }
    }

    .footer-with-menu__cookie {
        background-color: $light-gray;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .grid-container {
            display: flex;
            align-items: center;

            .text {
                width: 70%;
                padding: 0 1rem;
            }
        }
    }
}
