$logo-ratio: 0.6; // percentage of full header height on xlarge; > 0.5
$container-large: $grid-container * 1.25;

.header-horizontal {
    position: fixed;
    z-index: 20;
    margin: 0;
    width: 100%;
    text-align: center;
    background: $white;
    display: flex;
    flex-direction: column;

    @include box-shadow(1);

    body.fixed-header & {
        position: fixed;
        top: 0;
        left: 0;
    }

    body.fixed-header &.hidden {
        opacity: 0;
    }

    body.fixed-header &.hidden:not(.animating) {
        z-index: -1;
    }

    &.animating {
        @include transition-all();
    }

    .header-horizontal__bar {
        background-color: $primary-color;
        padding: 1rem 0;
        color: $white;

        .grid-container {
            display: flex;
            align-items: center;
        }

        .alert-close {
            display: flex;
            text-decoration: none;
        }

        p {
            margin-bottom: 0;
            flex: 1;
            text-align: left;
        }

        a {
            text-decoration: underline;
        }

        span,
        a {
            color: $white;
            font-weight: bold;
        }
    }

    .header-horizontal__inner {
        position: relative;
        z-index: 2;
        display: flex;
        // max-width: $grid-container;
        // height: 100%;
        align-items: center;
        margin: 0 auto;
        // padding: 0;
        width: 100%;
        flex: 1;
        min-height: 130px;

        // @include breakpoint(xlarge) {
        //     align-items: flex-end;
        // }
    }

    .header-horizontal__logo-container {
        @include xy-gutters($gutter-position: top right bottom left, $gutter-type: padding);

        flex: 1 1 auto;
        height: 100%;

        @include breakpoint(medium) {
            flex-basis: 70%;
        }

        @include breakpoint(large) {
            flex-basis: auto;
        }

        .brand {
            display: flex;
            justify-content: flex-start;
            border: 0;
            height: 100%;
            max-width: 100%;

            @include breakpoint(large) {
                display: block;
                max-width: none;
            }

            @include breakpoint(xlarge) {
                align-items: flex-end;
                max-width: none;
            }

            img {
                // max-width: 380px;
                width: auto;
                max-width: 270px;

                @include breakpoint(large) {
                    display: block;
                    height: 100%;
                    // max-width: 300px;
                }
            }
        }
    }

    .header-horizontal__menu {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .menu {
            display: none;

            @include breakpoint(large) {
                display: flex;
                // margin-top: 1rem;
            }
        }

        // .is-accordion-submenu-parent {
        //     a {
        //         padding: 0.7rem;
        //     }
        // }

        .has-submenu-toggle > a {
            margin-right: 20px;
        }

        .menu-item.bold {
            a {
                font-weight: bold;
            }
        }

        .menu-item.is-submenu-item {
            a {
                &::after {
                    display: none;
                }

                &:hover {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        .menu-item {
            position: relative;

            .is-submenu-item {
                padding: 0;
            }

            a {
                z-index: 1;
                display: inline-block;
                vertical-align: top;
                // width: 100px;
                // height: 34px;
                // line-height: 36px;
                font-family: 'Open Sans', sans-serif;
                text-decoration: none;
                color: #575857;
                text-align: center;
                font-size: 15px;
                position: relative;
                border: 2px bottom solid transparent;

                &::after {
                    width: 0%;
                    height: 3px;
                    display: block;
                    background-color: #006bb5;
                    content: " ";
                    position: absolute;
                    top: 34px;
                    left: 50%;
                    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
                }

                &:hover {
                    &::after {
                        width: 100%;
                        height: 3px;
                        display: block;
                        background-color: #006bb5;
                        content: " ";
                        position: absolute;
                        top: 34px;
                        left: 0;
                    }
                }
            }

            .nested.submenu {
                position: absolute;
                background-color: $white;
                top: 85px;
                padding: 0.5rem 0;
                margin-left: calc(-1 * ((100vw - 100%) / 2));
                width: 110vw;
                display: flex;
                justify-content: center;
                z-index: 10;

                @include box-shadow(1);

                a {
                    font-weight: normal;
                }
            }

            a {
                font-weight: bold;
                text-align: left;
                color: $black;
            }

            a:focus,
            a:hover {
                color: darken($gray, 15%);
            }

            .submenu-toggle {
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;

                &::after {
                    border: none;
                    content: 'expand_more';
                    font-family: 'Material Icons';
                    width: unset;
                    height: unset;
                    display: flex !important;
                    justify-content: flex-end;
                    align-items: center;
                    padding-right: 0.5rem;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }

            .submenu-toggle.active {
                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    margin-left: -0.5em;
                    bottom: -5em;
                    left: 72%;
                    box-sizing: border-box;
                    border: 1em solid white;
                    transform-origin: 0 0;
                    transform: rotate(135deg);
                    display: block;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.24);
                }
            }

            // .submenu-toggle[aria-expanded="true"] {
            //     // background-color: $pale-yellow;
            //     background-color: $light-gray;
            //     // z-index: -1;
            // }
        }

        .menu .active > a {
            background: transparent;
            color: $black;
        }
    }

    .header-horizontal__linkedin {
        padding-left: 1rem;
        display: none;

        @include breakpoint(medium) {
            display: block;
        }
    }

    .header-horizontal__phone {
        padding-left: 2rem;
        color: $black;
        font-weight: bold;
        display: none;

        @include breakpoint(medium) {
            display: block;
        }

        a {
            color: $black;
        }
    }

    .header-horizontal__cta {
        margin-left: 1.5rem;
        display: none;

        @include breakpoint(large) {
            display: block;
        }

        .button {
            .material-icons {
                margin-right: 0.5rem;
            }
        }
    }

    .header-horizontal__actions {
        display: flex;
        // flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        background: transparent;

        @include breakpoint(large) {
            display: none;
        }

        @include breakpoint(xlarge) {
            @include xy-gutters($gutter-type: padding, $gutter-position: top bottom);

            // flex-flow: row wrap;
            justify-content: center;
            flex: 0 1 0;
        }

        a {
            position: relative;
            padding: 0.75rem;
            border: 0;
            font-size: 2rem;
            color: $primary-color;
            display: inline-block;
            line-height: 0;

            @include breakpoint(large) {
                color: $black;
            }

            &:hover {
                color: darken($primary-color, 10%);
            }

            &.active {
                color: $primary-color;
            }

            // &.active::after {
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     top: calc(100% + (#{$header-height - 2px} - 100%) / 2);
            //     left: 0;
            //     right: 0;
            //     height: $banner-height + 2px;
            //     background: $white;

            //     @include breakpoint(medium) {
            //         top: calc(100% + (#{$header-height-large - 2px} - 100%) / 2);
            //     }

            //     @include breakpoint(xlarge) {
            //         display: none;
            //     }
            // }

            // &:nth-child(odd) {
            //     @include breakpoint(medium) {
            //         margin-left: 0.5rem;
            //     }
            // }
        }

        .icon-bar {
            background-color: $primary-color;

            @include breakpoint(large) {
                background-color: $black;
            }
        }

        .search-toggle {
            @include breakpoint(xlarge) {
                position: relative;
                top: 2px;
            }
        }

        a.header-horizontal__lang {
            font-size: 1rem;
            padding: 0 1.5rem;
            line-height: 2;
            margin: 0;
            background: transparent;
            color: $black;
            border: 1px solid $black;
            text-transform: uppercase;
            font-weight: bold;
            display: none;

            @include breakpoint(medium) {
                padding: 0.75rem 1.5rem;
                line-height: 1;
            }

            @include breakpoint(xlarge) {
                display: inline-block;
                align-self: flex-start;
                margin-top: 0.75rem;
            }

            &:hover {
                background: #0a0a0a;
                color: $white;
            }

            span {
                display: inline-block;
                width: 100%;
            }
        }
    }
}
