.footer {
    nav {
        @extend .menu;
    }

    .footer_menus {
        .menu.horizontal {
            padding-bottom: 2rem;

            @include breakpoint (small only) {
                padding-bottom: unset;
            }

            @include xy-grid('horizontal', true);

            .menu-item {
                margin-left: 0;
                margin-right: 0;

                @include breakpoint (small only) {
                    width: auto;
                }

                @include xy-cell(12);

                @include breakpoint(medium) {
                    @include xy-cell(6);

                    margin-left: 0;
                    margin-right: 0;
                }

                @include breakpoint(small) {
                    @include xy-cell(4);

                    margin-left: 0;
                    margin-right: 0;
                }

                a {
                    padding-left: 0;
                }
            }

            .menu-item-has-children {
                .menu-item {
                    width: auto;
                }
            }
        }
    }
}
