$logo-ratio: 0.6; // percentage of full header height on xlarge; > 0.5
$container-large: $grid-container * 1.25;

.header {
    position: fixed;
    height: rem-calc($header-height);
    z-index: 20;
    width: 100%;
    text-align: center;
    background: $black;
    border-bottom: 1px solid $gray;

    body.fixed-header & {
        position: fixed;
        top: 0;
        left: 0;

        .header__logo-container {
            display: block;
        }
    }

    body.fixed-header &.hidden {
        opacity: 0;
    }

    body.fixed-header &.hidden:not(.animating) {
        z-index: -1;
    }

    &.animating {
        @include transition-all();
    }

    .header__inner {
        position: relative;
        z-index: 2;
        display: flex;
        max-width: 95%;
        height: 91px;
        align-items: center;
        margin: 0 auto;
        padding-top: 10px;

        @include breakpoint(medium) {
            height: 91px;
        }
    }

    .header__logo-container {
        @include xy-gutters($gutter-position: top right bottom, $gutter-type: padding);

        flex: 1 1 auto;
        height: 100%;

        @include breakpoint(medium) {
            flex-basis: 70%;
        }

        @include breakpoint(large) {
            flex-basis: auto;
        }

        .brand {
            display: flex;
            justify-content: flex-start;
            border: 0;
            width: 115px;
            height: 53px;

            @include breakpoint(large) {
                display: block;
                max-width: none;
            }

            @include breakpoint(xlarge) {
                align-items: flex-end;
                max-width: none;
            }

            img {
                max-height: 100%;
                width: auto;

                @include breakpoint(large) {
                    display: block;
                    height: 100%;
                }
            }
        }
    }

    .header__menu {
        height: 100%;
        flex: 1 1 auto;
        justify-content: flex-end;
        display: none;

        @include breakpoint(large) {
            display: flex;
        }

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: unset;
            // font-family: $font-oswald;
            font-size: 20px;

            .menu-item {
                width: unset;

                a {
                    padding: 0 1.5rem;
                    text-transform: uppercase;
                    font-style: normal;
                    font-size: 15px;
                    letter-spacing: 0.85px;
                    color: $white;
                    // font-family: $font-2;
                }

                .nested.submenu {
                    position: absolute;
                    background-color: $black;
                    border-radius: 7px;
                    padding: 1rem 0;
                    margin: 0 0.5rem;
                    width: 250px;
                    top: 3.5rem;
                    justify-content: flex-start;
                    right: 9%;
                    border: 1px solid $gray;
    
                    // @include box-shadow(1);
    
                    .menu-item {
                        margin-bottom: 0.5rem;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .active > a {
                background-color: transparent;
            }
        }
    }

    .header__social {
        display: none;

        @include breakpoint(large) {
            display: block;
        }
    }

    .header__actions {
        display: flex;
        // flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        background: transparent;

        @include breakpoint(xlarge) {
            @include xy-gutters($gutter-type: padding, $gutter-position: top bottom);

            // flex-flow: row wrap;
            justify-content: center;
            flex: 0 1 0;
        }

        .menu-toggle {
            @include breakpoint(large) {
                display: none;
            }
        }

        a {
            position: relative;
            padding: 0.75rem;
            border: 0;
            font-size: 2rem;
            color: $accent-dark;
            display: inline-block;
            line-height: 0;

            @include breakpoint(large) {
                color: $white;
            }

            &:hover {
                color: darken($accent-dark, 10%);
            }

            &.active {
                color: $accent-dark;
            }
        }

        .icon-bar {
            background-color: $white;

            @include breakpoint(large) {
                background-color: $white;
            }
        }

        .search-toggle {
            @include breakpoint(xlarge) {
                position: relative;
                top: 2px;
            }
        }

        a.header__lang {
            font-size: 1rem;
            padding: 0 1.5rem;
            line-height: 2;
            margin: 0;
            background: transparent;
            color: $accent-dark;
            border: 1px solid $accent-dark;
            text-transform: capitalize;
            font-weight: bold;
            display: none;

            @include breakpoint(medium) {
                padding: 0.75rem 1.5rem;
                line-height: 1;
            }

            @include breakpoint(xlarge) {
                display: inline-block;
                align-self: flex-start;
                margin-top: 0.75rem;
            }

            &:hover {
                background: #0a0a0a;
                color: $white;
            }

            span {
                display: inline-block;
                width: 100%;
            }
        }
    }

    .header__menu {
        height: 35%;
        z-index: 10;
        position: relative;

        .menu-item {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-child {
                a {
                    border-right: unset;
                }
            }

            a {
                color: black;
                background: unset;
                padding: 0.2rem 1rem;
                font-size: 1.5rem;
            }
        }

        .menu-item.current-menu-item,
        .menu-item.current_page_item {
            background-color: $black;

            a {
                color: $white;
            }
        }
    }
}

.header {
    .header__menu {
        .vertical {
            margin-left: 0;
        }

        .menu-item {
            height: 100%;
            display: inline;
            background-color: $black;
            padding: 5px;
        }
    }
}

.header .header__menu .vertical {
    display: grid;
}

.header__menu {
    .menu {
        .submenu-toggle {
            left: auto;
            right: 20%;
            width: 100%;
            height: 100%;
            color: $white;
            top: -2px;

            &::after {
                border: none;
                content: 'expand_more';
                font-family: 'Material Icons';
                width: unset;
                height: unset;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 0.5rem;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
}

.header__menu {
    .menu {
        .submenu-toggle {
            right: 15%;
        }
    }
}

.xclose {
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 10px;
    margin-right: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}
