html {
    font-size: 16px;
}

.material-icons-outlined,
.material-icons.material-icons--outlined,
.material-icons-two-tone,
.material-icons.material-icons--two-tone,
.material-icons-round,
.material-icons.material-icons--round,
.material-icons-sharp,
.material-icons.material-icons--sharp {
    font-weight: normal;
    font-style: normal;
}

.material-icons-outlined,
.material-icons.material-icons--outlined {
    font-family: 'Material Icons Outlined';
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
    font-family: 'Material Icons Two Tone';
}

.material-icons-round,
.material-icons.material-icons--round {
    font-family: 'Material Icons Round';
}

.material-icons-sharp,
.material-icons.material-icons--sharp {
    font-family: 'Material Icons Sharp';
}
