/**
 * Place foundation settings, and other npm dependency overrides in this file
 * @link http://sass-lang.com/documentation/file.SASS_REFERENCE.html#Variable_Defaults___default
 */
$header-height: 100px;
$off-white: #f3f3f4;
$gray: #e2e2e2;
$border-color: #e2e2e2;
$tertiary: #6c5353;
$accent-light: #404040;
$accent-medium: #e2e2e2;
$accent-dark: #000;

/** Colors */
$foundation-palette: (
    primary: #27ae60,
    secondary: #1866ff,
    success: #3adb76,
    warning: #ffae00,
    alert: #cc4b37,
);

$breakpoints: (
    small: 0,
    medium-small: 360px,
    medium: 640px,
    medium-large: 800px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1750px,
);

$breakpoint-classes: (small medium-small medium medium-large large xlarge xxlarge);
