.career-card {
    margin-bottom: 1.5rem;
    width: 100%;

    @include pace-box-shadow();

    @include breakpoint(medium) {
        width: 70vw;
    }

    @include breakpoint(large) {
        width: 100%;
    }

    .career-card__inner {
        .grid-x.grid-margin-x {
            flex-direction: column-reverse;

            @include breakpoint(large) {
                flex-direction: row;
            }
        }
    }

    .career-card__content {
        padding: 2rem;
    }

    .career-card__image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
