.chevron-block {
    position: relative;
    min-height: 388px;
    margin-bottom: 1rem;
    overflow: hidden;

    a {
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .chevron-block__background-image {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;

        .chevron-block__featured-image {
            height: 350px;
            position: relative;
            z-index: -1;
            right: -180px;
        }
    }

    .chevron-block__inner {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);

        .chevron-block__heading-container {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 5rem;
        }

        .heading {
            color: $white;
            padding-left: 2rem;

            @include multi-line-ellipse(45px, 1.3, 2);
        }
    }

    .chevron-block__link-container {
        padding-left: 2rem;
    }
}
