.content-video-card {
    @include pace-box-shadow();

    @include breakpoint(medium) {
        width: 70vw;
    }

    @include breakpoint(large) {
        width: 100%;
    }

    &.small-font {
        .content-video-card__inner {
            .content-video-card__content {
                padding: 2rem 1rem 2rem 2rem;
            }

            .content-video-card__text-container {
                flex-direction: column;
                font-size: 14px;

                .content-video-card__text {
                    line-height: 1.8;
                    margin-bottom: 1rem;
                }

                .quote {
                    margin-bottom: 1rem;
                    height: 30px;
                }
            }

            .content-video__author {
                .content-video__author-author {
                    padding-left: 0;
                }

                .content-video__author-image {
                    display: none;
                }
            }
        }
    }

    .content-video-card__inner {
        height: 100%;
        flex-direction: column-reverse;

        @include breakpoint(large) {
            flex-direction: row;
        }
    }

    .content-video-card__content {
        padding: 2rem;
        display: flex;
        flex-direction: column;

        .content-video-card__text-container {
            display: flex;
            align-items: flex-start;
            flex: 1;

            .quote {
                padding-right: 1rem;
                padding-top: 0.6rem;
            }
        }

        .content-video__author {
            display: flex;
            align-items: center;

            .content-video__author-image {
                height: 85px;
                width: 85px;
                min-height: 85px;
                min-width: 85px;
                border-radius: 10rem;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .content-video__author-author {
                padding-left: 1rem;

                .heading {
                    margin-bottom: 0;
                }
            }
        }
    }

    .content-video-card__video-container {
        // height: 400px;

        @include breakpoint(large) {
            min-height: 100%;
        }
    }

    .content-video-card__video {
        height: 100%;

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .content-video-card__image {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
