.contact-card {
    .contact-card__content {
        background-color: $primary-color;
        color: $white;
        position: relative;

        .phone,
        .email,
        .name,
        .number,
        .heading {
            color: $white;

            a {
                color: white;
            }
        }

        .email {
            padding-bottom: 1rem;
        }

        .linkedin {
            img {
                margin-bottom: 1.5rem;
            }
        }

        .contact-card__background-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .contact-card__heading-container {
            padding: 3rem 2rem 2rem;
            border-bottom: 1px solid $light-gray;
            display: flex;
            justify-content: center;

            @include breakpoint(large) {
                justify-content: flex-end;
            }

            .heading {
                max-width: 44rem;
            }
        }

        .contact-card__info-container {
            padding: 5rem 2rem 10rem;
            display: flex;
            justify-content: center;

            .grid-x.grid-margin-x {
                max-width: 45rem;
                width: 100%;
            }

            @include breakpoint(large) {
                justify-content: flex-end;
            }
        }

        .contact-card__image-small {
            z-index: 10;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @include breakpoint(large) {
                display: none;
            }
        }
    }

    .contact-card__image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: none;

        @include breakpoint(large) {
            display: block;
        }
    }
}
