.expandable-cards__cards-container {
    display: flex;
    justify-content: center;
}

.expandable-info-card.cell.small-12.large-6 {
    margin-bottom: 1.5rem;
    overflow: hidden;
    transition: 0.2s;
    height: 500px;
    width: 60vw;

    @include breakpoint(large) {
        height: 250px;

        @include xy-cell(6);
    }

    @include pace-box-shadow();

    // &.active {
    //     min-height: 500px;
    // }

    .expandable-info-card__position {
        padding-bottom: 1rem;
    }

    .expandable-info-card__image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 250px;
    }

    .expandable-info-card__content {
        padding: 1rem;

        @include breakpoint(large) {
            padding: 1rem 1rem 1rem 0;
        }
    }

    .expandable-info-card__email {
        padding-bottom: 1rem;
    }

    .expandable-info-card__more-container {
        display: flex;
        justify-content: flex-end;

        a {
            display: flex;
            align-items: center;
            color: $black;

            .more {
                padding-right: 0.5rem;
            }
        }
    }

    .expandable-info-card__description {
        padding: 1.5rem;
    }
}
