// @include multi-line-ellipse(16px, 1.5, 8);

.featured-image-card.blue {
    background-color: #0073ae;
}

.featured-image-card.green {
    background-color: #008852;
}

.featured-image-card.orange {
    background-color: #e36f1e;
}

.featured-image-card.yellow {
    background-color: #fdb813;

    .featured-image-card__title-container {
        h4 {
            font-weight: bold;
            color: $black;
        }
    }
}

.featured-image-card {
    background-color: $white;
    // padding: 2rem;
    // width: 380px;
    transition: 0.3s;
    margin-bottom: 1.5rem;
    border-radius: 6px;

    @include pace-box-shadow();
    

    @include breakpoint(large) {
        height: 260px;

        &:hover,
        &:focus {
            transform: scale(1.07);
        }
    }

    .featured-image-card__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        // padding: 0.3rem;

        @include breakpoint(large) {
            flex-direction: row;
        }
    }

    .featured-image-card__inner {
        flex: 1;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;

        @include breakpoint(large) {
            padding: 1rem;
        }
    }

    .featured-image-card__image {
        // flex: 1.3;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        width: 100%;
        height: 270px;
        margin: 0.3rem;

        @include breakpoint(large) {
            width: 178px;
            height: unset;
        }
    }

    .featured-image-card__title-container {
        text-align: center;

        h4 {
            font-weight: bold;
            color: $white;
            margin-bottom: 0;
        }
    }

    .featured-image-card__date {
        padding-bottom: 1rem;
        display: flex;
        align-items: center;

        .material-icons-outlined {
            padding-right: 0.5rem;
        }

        .date {
            color: #727272;
        }
    }

    .featured-image-card__button-container {
        justify-content: center;
        align-items: flex-end;
        flex: 1;
        display: flex;

        .button {
            margin-bottom: 0;
        }
    }
}
